#h1Id {
    text-align: center;
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(232, 208, 255);
}

.formClass {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    border: double 1vh purple;
}


.inputClass {
    border: 1px solid rgb(245, 213, 255);
    color: rgb(46, 0, 53);
    padding: 10px;
    margin: 5px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnClass {
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: purple;
}

.errorClass {
    color: red;
    font-size: small;
}

.buttonClass{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

#label1 {
    
    width: 40vh;
}